.btn-save-item {
    background-color: #877EED;
    color: #FFFFFF;
    border-radius: 24px;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    cursor: pointer;
}

.btn-save-item:hover {
    background-color: #544ACB;
}